@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Chakra+Petch:wght@300&family=Open+Sans:ital@1&family=Roboto+Mono:wght@100;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: bo;
}
body
{
  font-family:'Courier New', Courier, monospace;
  background-color:#a393eb;;
}
header
{
  background-color:#f5c7f7;
  text-align: center;
  padding: 25px 0;
}
nav a{
  display: inline-block;
  text-decoration: none;
  color:black;
  margin: 0 30px;
  padding: 5px 15px;
}
nav a:hover
{
  background-color: violet;
  color: black;
}
/* Agrega estos estilos a tu archivo CSS */
img {
    width: 500px;
}
.exercise-box
{
margin-top: -200px;
}
.exercise-list
{
  margin: 30px;
}
p{
  margin-left: 600px;
  margin-top: -500px;
  
}
.image-box {
    display:flex;
    justify-content: space-between;
    width: 800px; /* Ajusta el ancho total según tus preferencias */
    margin-left: 550px;
    margin-top: -350px;
    margin-bottom: 80px;
}
 p
{
    margin-top: 200px;
}
.video-links
{
    margin-top: 20px;
    margin: 40px;
}
