@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Chakra+Petch:wght@300&family=Open+Sans:ital@1&family=Roboto+Mono:wght@100;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: bo;
}
body
{
  font-family:'Courier New', Courier, monospace;
  background-color:#a393eb;;
}
header
{
  background-color:#f5c7f7;
  text-align: center;
  padding: 25px 0;
}
nav a{
  display: inline-block;
  text-decoration: none;
  color:black;
  margin: 0 30px;
  padding: 5px 15px;
}
nav a:hover
{
  background-color: violet;
  color: black;
}
.exercise-box
{
    margin: 30px;
}
.exercise-list
{
    margin: 30px
}
.exercise-box2
{
    margin: 30px;
    margin-left: 1000px;
}
.exercise-box2 img
{
  width: 300px;
  margin-top: 10px;
  ;
}
.imagen_fi img
{
  width: 500px;
}
p{
  margin-top: -800px;
  font-size: 20px;
}
.video-links
{
  margin: 30px;
}