@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Chakra+Petch:wght@300&family=Open+Sans:ital@1&family=Roboto+Mono:wght@100;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: bo;
}
body
{
  font-family:'Courier New', Courier, monospace;
  background-color:black;;
}
header
{
  background-color:blueviolet;
  text-align: center;
  padding: 25px 0;
}
nav a{
  display: inline-block;
  text-decoration: none;
  color:black;
  margin: 0 30px;
  padding: 5px 15px;
}
nav a:hover
{
  background-color: violet;
  color: black;
}
h2{
    color: white;
    font-size: 40PX;
    margin: 20PX;

}
p{

color: aliceblue;
margin:30px;
font-size: 20px;
}
img{
  width:400px;
  margin: 10px;
  margin-left: 1000px;
  margin-top: -100px;
}
.receta1
{
  margin-left: -800px;
  margin-top: -700px;
}
.hub
{
  margin-left: -800px;
  margin-top: 180px;
  width: 200px;

}
.parrafo1 p
{
  margin: 20px;
}